{% extends "base.html" %}
{% block content %}
<section id="content">
<div class="container">

<div class="row mt-3">
{% block content_title %}
    <div class="col">
    <h2>All blog posts</h2>
    </div>
    <div class="col-md-auto content_center">
        <a href="{{ SITEURL }}/categories.html">Categories</a> | <a href="{{ SITEURL }}/tags.html">Tags</a>
    </div>
{% endblock %}
    <div class="col-md-12">
        <hr>
    </div>
</div>

{% for article in articles_page.object_list %}
<div class="row">
    <div class="col-md-2">
            <time class="published" datetime="{{ article.locale_date }}"> {{ article.locale_date }} </time>
    </div>
    <div class="col-md-10">
        <h5><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark">{{ article.title }}</a></h5>
        <span class="post_metadata">
            Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        </span>
        {{ article.summary }}
        <div class="articletags">
            {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>
            {% endfor %}
        </div>
    </div><!-- /.entry-content -->
</div>
<hr>
{% endfor %}

<div class="row-md-0 justify-content-center">
    <div class="col-md-12 text-center">
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
    </div>
</div>

</div>
</section><!-- /#content -->
{% endblock content %}
